/* AppBar */

.navbar-appbar {
  background: #ffffff !important;
  box-shadow: none !important;
  border-bottom: 1px solid #e2e8f0;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

/* LEFT SECTION */

.navbar-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* LOGO */

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  width: 60px;
  margin-right: 10px;
}

.logo-title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 22px;
  color: #ea580c;
  line-height: 1;      /* removes extra vertical space */
  margin: 0;
}

.logo-subtitle {
  font-family: "Times New Roman";
  font-size: 5px;     /* readable but small */
  color: #0f172a;
  line-height: 1;
  margin-top: -3px;    /* pulls subtitle closer to title */
}

/* NAV LINKS */

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-button {
  font-family: "Times New Roman" !important;
  text-transform: none !important;
  font-size: 16px !important;
  color: #0f172a !important;
}

.nav-button:hover {
  color: #ea580c !important;
  background: transparent !important;
}

/* RIGHT SECTION */

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* SEARCH */

.search-box {
  display: flex;
  align-items: center;
  background: rgb(230, 237, 248);
  border-radius: 30px;
  padding: 0 12px;
  height: 40px;
  width: 320px;
}

.search-icon {
  color: #64748b;
}

.search-input {
  flex: 1;
  margin-left: 8px;
  font-family: "Times New Roman";
}

/* CHAT */

.chat-icon {
  color: #ea580c !important;
}

.chat-icon:hover {
  color: #fb923c !important;
}

/* BUTTONS */

.login-btn {
  font-family: "Times New Roman" !important;
  text-transform: none !important;
  font-size: 16px !important;
  color: #0f172a !important;
}

.signup-btn {
  background: #ea580c !important;
  color: white !important;
  text-transform: none !important;
  border-radius: 25px !important;
  padding: 6px 20px !important;
}

.signup-btn:hover {
  background: #c2410c !important;
}

/* MOBILE MENU ICON */

.mobile-menu {
  display: none;
}

/* DRAWER */

.drawer-box {
  width: 250px;
}

.drawer-text {
  font-family: "Times New Roman";
}

/* ------------------------- */
/* RESPONSIVE BREAKPOINTS */
/* ------------------------- */

@media (max-width: 1100px) {

  .nav-links {
    display: none;
  }

  .right-section {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .logo-title {
    font-size: 18px;
  }

  .logo-img {
    width: 50px;
  }

}

@media (max-width: 600px) {

  .logo-subtitle {
    font-size: 6px;
  }

  .logo-title {
    font-size: 16px;
  }
   .nav-links {
    display: none;
  }

  .right-section {
    display: none;
  }

}